body{
    text-align: center;
    margin: 0 ;
    padding: 0;
    background-color: #e78585cb;
}
*{
    margin: 20px;
    font-size: 60px;
    font-weight: 800;
    padding: 5px;
    font-family: 'Baloo Bhai 2', cursive;
}
.dice {
    display: inline-block;
}
button{
    display: block;
    position: relative;
    left: 45%;
    border-radius: 20px;
    background-color: black;
    color: white;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 20px ;
    border: 2px solid black;
} img:hover{
    color: gray;
    background-color: black;

}button:hover {
    color: black;
    background-color: white;
}
p:hover {
    background-color: gray;
    border-radius: 20px;
}
h1:hover{
    font-size: 89px;
}